#checkout-block {
  font-family: var(--e-global-typography-primary-font-family);
  span,
  bdi,
  .product-name {
    color: var(--e-global-color-63559f0);
  }
  button {
    border: 2px solid var(--e-global-color-63559f0);
    padding: 9px 15px;
    background-color: var(--e-global-color-63559f0);
    color: var(--e-global-color-accent);
    &:hover {
      background-color: var(--e-global-color-accent);
      color: var(--e-global-color-63559f0);
      border-color: var(--e-global-color-63559f0);
    }
  }
  .woocommerce-info{
    border-top-color:var(--e-global-color-63559f0) !important;
    &::before{
      color: var(--e-global-color-63559f0) !important ;
    }
    a{
      color: #f3d24c !important;
    }
  }
  .woocommerce-privacy-policy-link{
    color: #f3d24c !important;
  }
}
