#our-projects-left-block {
  .elementor-loop-container {
    .e-loop-item {
      .jkit-button-wrapper {
        padding: 0px;
      }
    }
  }
}
#most-recent-projects-loop{
    .post-date{
        margin-bottom: 0px;
    }
}